Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL statements are similar to a computer programming language for defining data structures, especially database schemas. Common examples of DDL statements include CREATE, ALTER, and DROP.

1.CREATE TABLE : The CREATE TABLE command creates a new table in the database -

2.ALTER TABLE : The ALTER TABLE command adds, deletes, or modifies columns in a table.

3.DROP TABLE : The DROP TABLE command deletes a table in the database.

4. TRUNCATE TABLE : The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The Full Form of DML is Data Manipulation Language. Data Manipulation Language (DML) is a programming language, also a category of SQL, applying useful table format and formulas for exchanging information, with the data limited to a point in the database, using SQL.

INSERT : This command is used to enter the information or values into a row. We can connect one or          more records to a single table within a repository using this instruction. This is often            used to connect an unused tag to the documents.

Example : INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

          VALUES ('1', 'Nirmit', 'Gorakhpur');

UPDATE Command –
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.

Example : UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini';

DELETE Command –
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

Example : DELETE FROM students
          WHERE stu_id = '001';

Q4. What is DQL? Explain SELECT with an example.

Query languages, often known as DQLs or Data Query Languages, are computer languages that are used to make various queries in information systems and databases. The Structured Query Language (SQL) is a well-known example. DQL statements are used to query the data contained in schema objects.

The SELECT statement is used to select data from a database.

SELECT CustomerName, City FROM Customers;
SELECT * FROM Customers;

Q5. Explain Primary Key and Foreign Key.

A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

# Importing module
import mysql.connector
 
# Creating connection object
mydb = mysql.connector.connect(
    host = "localhost",
    user = "yourusername",
    password = "your_password"
)
 
# Printing the connection object
print(mydb)

The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

You can create Cursor object using the cursor() method of the Connection object/class.

import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
   user='root', password='password', host='127.0.0.1', database='mydb'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

execute()

This method accepts a MySQL query as a parameter and executes the given query.

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.